# Gemini API Key for Server-Side AI calls
GEMINI_API_KEY=

# MySQL Database Configurations for hosting on cPanel
MYSQL_HOST=localhost
MYSQL_USER=grameene_Grameen_user
MYSQL_PASSWORD=Grameen2026
MYSQL_DATABASE=gramenenergy_grameen_bd
MYSQL_PORT=3306

